.mat-radio-button ~ .mat-radio-button {
    margin-left: 8px;
}
.form-create-order {
    margin: 10px;
}
.centered-button {
    display: flex;
    justify-content: center;
    width: 180px;
}